#early-init.el#
.*~
.*#
eaf
site-lisp
.init.el.swp
.org-id-locations
auto-save-list/
custom.el
custom.el~
eln-cache/
elpa/
eshell/
history
init.el_bak
init.el~
projects
recentf
transient/

/#work.el#
/bookmarks
/tree-sitter/
/url/
/var/
/work.el
server/server
.cache/copilot-chat/github-token
.cache/copilot-chat/
.cache/
